# üìä Placement Data of 1000 Students

This notebook explores a synthetic dataset of 1000 students, including details like CGPA, number of internships, placement status, and salary offered. It's useful for data analysis and machine learning practice.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set default style
sns.set(style='whitegrid')

## üîç Load and Preview the Dataset

We'll load the CSV file and take a quick look at the first few rows to understand the structure.

In [6]:
# Load the dataset
df = pd.read_csv("Placement.csv")

# Display the first 5 rows
df.head()

   Student_ID  CGPA  Internships Placed  Salary (INR LPA)
0           1  7.90            3    Yes             17.63
1           2  7.39            0    Yes             28.37
2           3  8.02            2    Yes              8.95
3           4  8.72            4    Yes             22.59
4           5  7.31            2    Yes             19.67

## üìã Dataset Overview

Let's examine the data types, missing values, and summary statistics.

## üéì CGPA Distribution

We visualize how CGPA is distributed among the 1000 students.